.services {
    padding: 100px 0 225px;
    text-align: center;
}

.services__cards {
    display: flex;
    gap: 32px;
    justify-content: center;
    padding-top: 80px;
    margin: 0;
    list-style-type: none;
}
.services__card {
    display: block;
    width: 325px;
    height: 147px;
    background-color: #F9F9F9;
    border-radius: 5px;
    color: #252B42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.services__about-card {
    position: absolute;
    width: 325px;
    height: 147px;
    border-radius: 5px;
    background-color:#295C7A;
    opacity: 0.9;
    align-items: center;
    display: none;

}
.services__description {
    margin: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: -webkit-auto;
    padding: 10px;
}
.services__card:hover .services__about-card{
    display: flex;
}


.services__card_blue {
    background-color: #295C7A;
    color: #FFFFFF;
}

.services__img {
    width: 53px;
    height: 53px;
}

.services__text{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;  
}